:root,
body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

:root {
  color-scheme: light dark;

  &:has([value='light']:checked) {
    color-scheme: light;
  }

  &:has([value='dark']:checked) {
    color-scheme: dark;
  }
}

body {
  background-color: light-dark(#fff, hsl(0deg 0% 10%));
  color: light-dark(#111, #fff);
}

#root {
  display: grid;
  grid-template-columns: auto 1fr;
}

.fill-grid {
  block-size: 100%;
}
